<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style-inventario.css">
    <title>Inventario</title>
</head>

<body>
    <header>
        <h1 class="titulo">Inventario de productos</h1>
    </header>
    <section class="contenedor">
        <article>
            <table class="table">
                <input type="text" placeholder="Buscar producto">
                <thead>
                    <tr>
                        <th>Nombre del producto</th>
                        <th>Cantidad</th>
                        <th>Estatus</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>3 leches</td>
                        <td>8 unidades</td>
                        <td>Disponible</td>
                    </tr>
                    <tr>
                        <td>3 leches con fruta</td>
                        <td>6 unidades</td>
                        <td>Disponible</td>
                    </tr>
                    <tr>
                        <td>Tropical con piña</td>
                        <td>6 unidades</td>
                        <td>Disponible</td>
                    </tr>
                    <tr>
                        <td>Pay de queso con fruta</td>
                        <td>0 unidades</td>
                        <td>Agotado</td>
                    </tr>
                    <tr>
                        <td>3 leches con chocolate</td>
                        <td>3 unidades</td>
                        <td>Disponible</td>
                    </tr>
                    <tr>
                        <td>Chocolate con Oreo</td>
                        <td>0 unidades</td>
                        <td>Agotado</td>
                    </tr>
                    <tr>
                        <td>Chocolate con bombón</td>
                        <td>4 unidades</td>
                        <td>Disponible</td>
                    </tr>
                    <tr>
                        <td>Napolitano</td>
                        <td>5 unidades</td>
                        <td>Disponible</td>
                    </tr>
                </tbody>
            </table>
        </article>
        <article>
            <article>
                <a href="../index.html">
                    <input type="button" class="btn" value="Regresar al Inicio">
                </a>
            </article>
        </article>
    </section>
</body>

</html>